html{
background-color:beige;
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("harry\ potter.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #111111;
  }

header{
background-color:rgb(169, 205, 206);
border-radius: 10px;
text-align: center;

}

.cats{
  display: grid;
  grid-template-columns: auto auto;
  border-radius:10px ;
  background-color:darkcyan;
}

main{
  background-color: cadetblue;
}


.text1{
color: white;

}
.text2{
  color: white;
}


.p{
font-family:Brush Script MT, cursive;

}

#mycastle{
width:300px ;
  height: 200px;  
}




}